*
!.gitignore

!pre_post_hooks.php
!test.txt
!gh/git-auto-script-deploy-test-gl
gh/git-auto-script-deploy-test-gl/*


!bb/git-auto-script-deploy-test-bb
bb/git-auto-script-deploy-test-bb/*

!gl/git-auto-script-deploy-test-gl
gl/git-auto-script-deploy-test-gl/*