{% extends 'full.layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<style type="text/css">


 .form-project {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
}
.form-project .form-signin-heading,


.form-project .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-project .form-control:focus {
  z-index: 2;
}
.form-project input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}



</style>
{% endblock %}

{% block navbar_menu %}
<!-- Navbar -->
<div class="u-header u-header--bg-transparent-lg z-index-4">
  <div class="u-header__section bg-transparent u-header--white-nav-links">
	<nav class="js-breadcrumb-menu navbar navbar-expand-lg u-header__navbar">
	  <div id="breadcrumbNavBar" class="collapse navbar-collapse py-0">
		<ul class="navbar-nav w-100 u-header__navbar-nav">
			<!-- Projetos -->
			<li class="nav-item u-header__nav-item">
			  <a class="nav-link u-header__nav-link active" href="{{ urlFor('projects') }}">Projetos</a>
			</li>
			<!-- Projetos -->

			<!-- Configurações -->
			<li class="nav-item u-header__nav-item">
			  <a class="nav-link u-header__nav-link" href="{{ urlFor('settings') }}">Configurações</a>
			</li>
			<!-- Configurações -->

		</ul>
	  </div>
	</nav>
  </div>
</div>
<!-- End Navbar -->
{% endblock %}

{% block body %}
<div class="u-bg-light-blue-50">
      <div class="container u-space-2">
	  	<div class="mb-3">
            <h2 class="h5 mb-0">Atualizar Perfil</h2>
            <p>Para alterar a foto do perfil acesse o site e se cadastre com o mesmo email: <a href="https://gravatar.com" target="_blank" rel="nofollow">https://gravatar.com</a>.</p>
        </div>

        <form>
          <!-- Input -->
          <div class="js-form-message mb-6">
            <label class="h6 small d-block text-uppercase">
              Email
            </label>

            <div class="js-focus-state input-group u-form mb-2">
              <input class="form-control u-form__input" type="password" name="currentPassword" required="" placeholder="Enter your current password" aria-label="Enter your email" data-msg="Password does not match." data-error-class="u-has-error" data-success-class="u-has-success">
            </div>
          </div>
          <!-- End Input -->

		  <!-- Input -->
          <div class="js-form-message mb-6">
            <label class="h6 small d-block text-uppercase">
              Current password
            </label>

            <div class="js-focus-state input-group u-form mb-2">
              <input class="form-control u-form__input" type="password" name="currentPassword" required="" placeholder="Enter your current password" aria-label="Enter your current password" data-msg="Password does not match." data-error-class="u-has-error" data-success-class="u-has-success">
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="mb-6">
            <div class="js-form-message">
              <label class="h6 small d-block text-uppercase">
                New password
              </label>

              <div class="js-focus-state input-group u-form mb-2">
                <input class="form-control u-form__input" type="password" name="newPassword" required="" placeholder="Enter your password" aria-label="Enter your password" data-msg="Please enter your password." data-error-class="u-has-error" data-success-class="u-has-success">
              </div>
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="js-form-message mb-6">
            <label class="h6 small d-block text-uppercase">
              Confirm password
            </label>

            <div class="js-focus-state input-group u-form mb-2">
              <input class="form-control u-form__input" type="password" name="confirmNewPassword" required="" placeholder="Confirm your password" aria-label="Confirm your password" data-msg="Password does not match the confirm password." data-error-class="u-has-error" data-success-class="u-has-success">
            </div>
          </div>
          <!-- End Input -->

          <div class="w-lg-50">
            <!-- Buttons -->
            <button type="submit" class="btn btn-sm btn-primary u-btn-primary transition-3d-hover">Salvar Alterações</button>
            <button type="submit" class="btn btn-sm u-btn-secondary--air transition-3d-hover">Cancelar</button>
            <!-- End Buttons -->
          </div>
        </form>
      </div>
    </div>



<div class="card form-project ">
    <div class="card-block">
        <h4 class="card-title">
            Update profile
        </h4>
        {% include 'flash.twig' %}
        {% set form = flash('form')?flash('form'):form %}
        <form    method="post">
            <div class="form-group">
                <label for="email"  >
                    Email
                </label>
                <input value="{{form.email}}" type="text"  required class="form-control" id="email" name="email"     />
             </div>

            <div class="form-group">
                <label for="current_password"  >
                    Current Password
                </label>
                <input type="password"    class="form-control" id="current_password" name="current_password"     />
             </div>
            <div class="form-group">
                <label for="password1">
                    New Password
                </label>
                 <input type="password"    class="form-control" id="password1" name="password1"     />
            </div>
            <div class="form-group">
                <label for="password2">
                    Confirm New Password
                </label>
                 <input type="password"    class="form-control" id="password2" name="password2"     />
            </div>

            <button class="btn btn-lg btn-primary " type="submit" name="profile_from">
                Submit
            </button>

        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
    <script>
$(function() {
    $('#type').change(function(){
        if($('#type').val() == 'gh') {
            $('#gh_secret').show();
        } else {
            $('#gh_secret').hide();
        }
    });
    $('#type').change();
});   </script>
{% endblock %}
